### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Gradle / LibGDX ###
.gradle/
/build/
/android/build/
/android/libs/
/core/build/
/lwjgl3/build/
/ios/build/
/ios/robovm-build/
local.properties
/assets/assets.txt
compile_out.txt
build-log.txt